Port 22
ListenAddress 0.0.0.0
PubkeyAuthentication yes
PasswordAuthentication yes
AuthorizedKeysFile __PROGRAMDATA__/ssh/authorized_keys
StrictModes no
SyslogFacility LOCAL0
LogLevel DEBUG2
PerSourcePenalties no
